/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif; font-weight: lighter;}
body, select, input, textarea {color: #333;}
a {color: #333;}
a:hover {color: #666;}

h1 {
	font-size: 200%;
}

body {
	margin: 0 auto;
	max-width: 940px;
	width: 90%;
}

header {
	margin: 100px 0;
}

article {
	margin: 0 0 100px;
}

article p {
	margin: 15px auto;
	font-size: 150%;
	max-width: 600px;
	width: 80%;
}
.centered {
	text-align: center;
	max-width: 500px;
}

.justified-center {
	font-size: 13px;
	max-width: 300px;
	margin: 25px auto;
	text-align: justify;
}

.solution {
	font-style: italic;
	line-height: 200%;
	margin: 50px auto;
	text-align: center;
	vertical-align: middle;
}

#result {
	border-bottom: 2px solid black;
	color: #000;
	font-size: 125%;
	font-weight: bold;
	padding: 0 0 3px;
	vertical-align: middle;
}

footer {
	bottom: 0px;
	margin: 50px 0;
	position: absolute;
}

/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}